.profileMenu{
    background: white;
}
.companyNameLink{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.companyName{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.menuItem{
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.item_logo{
    width: 20px;
    margin-right: 10px;
}
.menuItem:hover .item_text{
    text-decoration: underline;
}
.active-menu-item{
    background-color: #f1f5f8;
}
.menu_item_container{
    display: flex;
    align-items: center;
    width: 150px;

}
.blogo{
    margin-right: 10px;
}